@charset "UTF-8";
#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  #footer div {
    font-size: 18px;
    text-align: center; }

.saohua {
  align-self: flex-end;
  color: white;
  text-align: right;
  font-family: 'Comic Sans MS', cursive;
  margin-bottom: -10rem;
  margin-right: 1rem; }
  .saohua h3 {
    text-align: left;
    color: darkgoldenrod;
    font-size: 22px;
    margin-top: 3rem;
    margin-bottom: 0; }

.swiper-slide {
  margin: 0;
  background: url("../resources/images/bg.jpg"); }

.swiper-slide {
  height: 100%;
  display: flex;
  color: #660000;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .swiper-slide p {
    font-size: 28px; }

#swipe0 {
  color: white;
  background: url(../resources/images/shouye_bg.jpg);
  font-family: "微软雅黑"; }
  #swipe0 .text {
    margin: 0; }
  #swipe0 p {
    margin-top: 5em; }
    #swipe0 p img {
      width: 80%;
      height: 40%;
      margin-top: -2em; }
    #swipe0 p b {
      font-size: 12px;
      color: gold;
      margin-left: 1em; }
  #swipe0 div img {
    width: 92%;
    height: 10%; }
  #swipe0 span {
    align-self: flex-end;
    margin-right: 1em;
    flex: 0.4; }

#avatar_out {
  position: absolute;
  top: 6rem; }
  #avatar_out img {
    width: 15rem;
    height: 15rem;
    animation: change 3s linear infinite;
    -webkit-animation: change 3s linear infinite; }

.swipe1_text {
  margin: 0;
  width: 100%;
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .swipe1_text p {
    color: white;
    font-size: 1rem;
    margin: 0.5rem;
    font-weight: 400;
    font-family: "微软雅黑";
    flex: 0.07; }

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1E243A;
  opacity: .5; }

#swipe1 .top {
  margin: 0;
  width: 100%;
  height: 15rem; }

@keyframes change {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes change {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

.swipe1_text img {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1.5rem;
  height: 3rem;
  width: 3rem;
  animation: slideLeft 1.5s linear infinite;
  -webkit-animation: slideLeft 1.5s linear infinite; }

@keyframes slideLeft {
  0% {
    transform: translate(0em);
    transform: opacity(1); }
  50% {
    transform: translate(-1em);
    transform: opacity(0); }
  100% {
    transform: translate(0em);
    transform: opacity(1); } }

@keyframes slideLeft {
  0% {
    -webkit-transform: translate(0em);
    -webkit-transform: opacity(1); }
  50% {
    -webkit-transform: translate(-1em);
    -webkit-transform: opacity(0); }
  100% {
    -webkit-transform: translate(0em);
    -webkit-transform: opacity(1); } }

.swiper-container {
  margin: 0; }

.music_icon {
  background: url(../resources/images/normalmusic.svg);
  width: 30px;
  height: 30px;
  border: 0;
  background-size: contain;
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 9999;
  animation: slideLeft 1.5s linear infinite;
  -webkit-animation: music 1.5s linear infinite; }

@keyframes music {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes -webkit-music {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

#swipe2 {
  background: url(../resources/images/dark.jpg);
  color: white;
  display: flex;
  flex-direction: column; }
  #swipe2 p {
    font-family: '楷体';
    flex: 0.1;
    border-radius: 10px;
    padding: 0.5em;
    letter-spacing: 1px; }
  #swipe2 .swipe2_text1, #swipe2 .swipe2_text3 {
    align-self: flex-start;
    font-size: 18px;
    width: 80%;
    text-align: left; }
  #swipe2 .swipe2_text2, #swipe2 .swipe2_text4 {
    align-self: flex-end;
    font-size: 18px;
    width: 80%;
    text-align: left; }
  #swipe2 .swipe2_title {
    padding: 1em 2em;
    border: 1px solid white; }

#swipe3 {
  font-size: 18px;
  background: url(../resources/images/mountain.jpg); }

#enter {
  border: 1px solid white;
  padding: 2em; }

.Noborder {
  border: 0;
  background: red; }
